*{
    font-family:"Roboto", "Montserat","Calibre";
    font-weight:550;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    size: 20vh;
}
body{
    background-color: white;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
    width: 100%;
}
h1{

}
p{
    font-size: larger;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:   lightgrey;
    padding: 2%;
    border-radius: 20px;
}
.item img{
    height: 20vh;
}
#itemslist div{
    margin-bottom: 2%;
}
#buynow{
    background-color: red;
    border-radius: 10px;
    width: 80%;
    height: 20%;
    margin-top: 20%;
    padding: 2%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
#buynow:hover{
    cursor:pointer;
    transform: scale(1.1);
}
#buynow:active{
    transform: scale(0.9);
}
h1{
    font-size: 400%;
}
h2{
    font-size: 300%;
}
@media screen and (max-width:640px) {
    main{
        grid-template-columns: 1fr;
    }
    .item img{
        display: none;
    }
    p{
        font-size: larger;
    }
}