*{
    font-family:"Comic Neue","Roboto","Montserrat";
    font-weight:550;
}
h2{
    font-size: 200%;
    font-weight: lighter;
}
p{
    font-size: 150%;
    font-weight: lighter;
}
body{
    background-color: white;
    margin: 0px;
}
header{
    background-image: url(img/Lebron.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    background-color: #E9EAE5;
    height: 50vh;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header h1{
    color: #E2FD13;
    font-size: 500%;
    -webkit-text-stroke: 5px #442892;
    text-align: center;
}
main{
    height: fit-content;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10%;
    background-color: #FFDC3B;
    height: 150vh;
}
nav{
    background-color: #C7C7C7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    height: 15vh;
}
article{
    position: relative;
    box-sizing: border-box;
    background-color: #C7C7C7;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    max-height: 95%;
    border-radius: 7px;
}
article img{
    box-sizing: border-box;
    max-height: 60%;
    max-width: 80%;
    width: auto;
}
.red{
    color: red;
    font-weight: bold;
}
footer{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C7C7C7 ;
    margin: 0px;
    padding: 1%
}
.cart-icon {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 5%; /* Adjust as needed */
    height: auto;
    background-color: #E9EAE5;
    border-style: none;
}
.displayrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.cart-img{
    height: 100%;
    width: 100%;
}
.add-to-cart-button {
    height: fit-content;
    padding: 3%;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.add-to-cart-button:hover {
    padding: 5%;
}

.add-to-cart-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.nr-bought{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: red;
    border-radius: 50%;
    height: 10%;
    aspect-ratio: 1/1;
    text-align: center;
    
}

@media screen and (min-width: 641px) and (max-width: 1007px){
    header{
        height: 32vh;
        background-size: 110% auto;
    }
    nav{
        height: 10vh;
    }
    .cart-icon{
        width: 10%;
    }
    main{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        height: 120vh;
        gap: 3%;
    }
}
@media screen and (max-width:640px) {
    header{
        height: 30vh;
        background-size: 110% auto;
    }
    .cart-icon{
        width: 10%;
    }
    main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        height: 400vh;
        gap: 2%
    }
}
